<main>
  <section #content class="user-list">
    <h1 class="user-list__title">User's Status</h1>

    <div>
      <article
        *ngFor="let user of ['Joey', 'Jeff', 'Skyler']"
        class="user-list__item"
      >
        <span class="user-list__item--name">{{ user }}</span>

        <div class="user-list__item--status">
          <span>Status</span>
          <span>Ativo</span>
        </div>
      </article>
    </div>
  </section>

  <button (click)="share()" class="user-list__share">Share</button>
</main>
